<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNS.Properties.Settings.QLNVConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLNS.Properties.Settings.QLNVConnectionString1" connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLNS.Properties.Settings.QLNhanVienConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS01;Initial Catalog=QLNhanVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>